body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  color: #888;
}

nav {
  background-color: #eee;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #008cba;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}

/* Responsiveness */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  nav li {
    display: block;
    margin-bottom: 10px;
  }
}

